// Used in layout
$padding-1: 1px !default;
$padding-4: 0.25rem !default;
$padding-8: 0.5rem !default;
$padding-16: 1rem !default;

$body-min-width: 20rem !default;

$menu-width: 10rem !default;
$toc-width: 16rem !default;

$mobile-breakpoint: $menu-width + $body-min-width * 1.2 + $toc-width !default;

:root {
    --page-top: 4rem;

    @media (max-width: $mobile-breakpoint) {
        --page-top: 0;
    }

    --font-size: 17px;
    --font-size-smaller: 0.875rem;
    --font-size-smallest: 0.75rem;

    --body-font-weight: 400;
    --body-background: white;
    --body-font-color: black;

    --border-radius: 0.25rem;

    @media (max-width: 600px) {
        --font-size: 15px;
    }
}

// Themes
@mixin theme-light {
    --body-background: white;
    --body-font-color: #2c2724;

    --color-link: #656565;
    --color-visited-link: #656565;

    --icon-filter: none;

    --gray-100: #f9f9f9;
    --gray-200: #ece9e4;
    --gray-500: #b0aba5;
}

@mixin theme-dark {
    --body-background: #141414;

    --body-font-color: #f0f0f0;

    --color-link: #a8a8a8;
    --color-visited-link: #a8a8a8;

    --icon-filter: brightness(0) invert(1) brightness(0.8);

    --gray-100: #1a1a1a;
    --gray-200: #2e2e2e;
    --gray-500: #666666;
}
