html {
    font-size: var(--font-size);
    scroll-behavior: smooth;
    touch-action: manipulation;
    scrollbar-gutter: stable;
}

body {
    min-width: $body-min-width;
    color: var(--body-font-color);
    background: var(--body-background);

    font-weight: var(--body-font-weight);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
}

a {
    flex: auto;
    align-items: center;
    gap: 0.5em;

    text-decoration: none;
    cursor: default;

    &[href],
    &[role="button"] {
        color: var(--color-link);
        cursor: pointer;
    }
}

small {
    @extend .text-small;
}

:focus-visible {
    @include outline;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        position: relative;
    }

    a {
        padding: 0.5em 0;
        display: flex;
        transition: opacity 0.1s ease-in-out;
    }

    a[href]:hover,
    a[role="button"]:hover {
        opacity: 0.5;
    }

    ul {
        padding-inline-start: 1.5em;
    }
}

.book-icon {
    filter: var(--icon-filter);
}

a .book-icon {
    height: 1em;
    width: 1em;
}

.book-post .book-post-content {
    margin-top: $padding-16;
}

.book-footer {
    padding-top: $padding-16;
    font-size: var(--font-size-smaller);

    a {
        margin: $padding-4 0;
        padding: $padding-4 0;
    }
}

.book-copyright {
    margin-top: $padding-16;
}

