.flex {
  display: flex;

  &.gap {
    gap: $padding-16;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-small {
  font-size: .875em;
}

.hidden {
  display: none;
}

@mixin outline {
  outline-style: auto;
  outline-color: var(--color-link);
}
